colorama==0.4.6
ebird-api==3.0.6
numpy==2.1.1
pandas==2.2.3
prompt_toolkit==3.0.48
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==75.1.0
six==1.16.0
tzdata==2024.2
wcwidth==0.2.13
rich~=13.9.4
requests~=2.32.3
appdirs~=1.4.4